// Global SCSS styles
#scribble-shot-content-script {

  * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  input,
  select {
    letter-spacing: .05rem;
  }

  hr {
    max-width: 20rem;
    margin-bottom: 2rem;
    opacity: .5;
    width: 100%;
  }
}