:root {
  --wrapper-border-color: #32adb7;
  --wrapper-border-radius: .5rem;
  --wrapper-box-shadow-color: #32adb729;

  // Toolbar
  --toolbar-bg-color: rgba(0, 0, 0, 0.8);
  --toolbar-drag-icon-color: #eee;
  --toolbar-divider: .063rem solid rgba(255, 255, 255, 0.8);

  // Button
  --button-text-color: #ffffff;
  --button-default-bg-color: transparent;
  --button-default-bg-hover-color: rgba(255, 255, 255, 0.1);
  --button-default-text-color: #fff;

  --button-primary-bg-color: #007bff;
  --button-primary-bg-hover-color: #0a58ab;

  --button-secondary-bg-color: #ff9d00;
  --button-secondary-bg-hover-color: #ff6600;

  --button-disabled-bg-color: #ececec;
  --button-disabled-bg-hover-color: #d8d8d8;
  --button-disabled-text-color: #888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --toolbar-bg-color: rgba(255, 255, 255, 0.8);
    --toolbar-drag-icon-color: #333;
    --toolbar-divider: .063rem solid rgba(0, 0, 0, 0.8);

    // Button
    --button-default-bg-hover-color: rgba(0, 0, 0, 0.1);
    --button-default-text-color: #333;
  }
}