#page-notes-content-script {

  .crhmext-button {
    align-items: center;
    border-radius: .25rem;
    color: var(--button-text-color);
    cursor: pointer;
    display: flex;
    gap: .5rem;
    padding: .4rem 1rem;
    line-height: 1rem;
    font-size: .8rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    white-space: nowrap;

    &--primary {
      background-color: var(--button-primary-bg-color);
      border: .063rem solid var(--button-primary-bg-hover-color);

      &:hover {
        background-color: var(--button-primary-bg-hover-color);
        border: .063rem solid var(--button-primary-bg-color);
      }
    }

    &--secondary {
      background-color: var(--button-secondary-bg-color);
      border: .063rem solid var(--button-secondary-bg-hover-color);

      &:hover {
        background-color: var(--button-secondary-bg-hover-color);
        border: .063rem solid var(--button-secondary-bg-color);
      }
    }

    &:disabled {
      background-color: var(--button-disabled-bg-color);
      border: .063rem solid var(--button-disabled-bg-hover-color);
      cursor: not-allowed;

      &:hover {
        background-color: var(--button-disabled-bg-hover-color);
        border: .063rem solid var(--button-disabled-bg-color);
      }
    }
  }
}